/*common css start*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
h1,h2{
    font-family: 'Abril Fatface', cursive;
}
p{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-33{
    width: calc(100% / 3);
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/*common css end*/

/*Header section css start*/
#header .top_bar{
    background-color: #0f2f44;
    color: #fefefe;
}
#header .top_bar .row{
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 18px;
}
/*Header section css end*/
/* placeholder css section start */
#placeholder{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: white;
     position: fixed;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder .preloader h2{
    font-size: 40px;
    font-weight: 600;
    color: black;
    text-align: center;
}

#placeholder .preloader span{
    display: inline-block;
    width: 7px;
    height: 220px;
    margin: 0 6px;
    border-radius: 10px;
    /* background: linear-gradient(red,green,blue);  */


    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    animation-name: preloader;
    animation-duration: 1s;
     animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transform-origin: center;
    /* background: radial-gradient(gray); */
    
}
#placeholder .preloader span:nth-child(2){
    animation-delay: 0s;
}
#placeholder .preloader span:nth-child(3){
    animation-delay: 0.1s;
}
#placeholder .preloader span:nth-child(4){
    animation-delay: 0.2s;
}
#placeholder .preloader span:nth-child(5){
    animation-delay: 0.3s;
}
#placeholder .preloader span:nth-child(6){
    animation-delay: 0.4s;
}
#placeholder .preloader span:nth-child(7){
    animation-delay: 0.5s;
}
#placeholder .preloader span:nth-child(8){
    animation-delay: 0.6s;
}
#placeholder .preloader span:nth-child(9){
    animation-delay: 0.7s;
}
#placeholder .preloader span:nth-child(10){
    animation-delay: 0.8s;
}
#placeholder .preloader span:nth-child(11){
    animation-delay: 0.9s;
} 



@keyframes preloader{
    from{
        transform: scale(1);
        background: linear-gradient(blue,black);
    }
    To{
        transform:  scale(0);
        background: linear-gradient(yellow,red);

    }
}

/* placeholder css section end */
  

/*nav section css start*/
nav{
    text-align: justify
}
nav div.row{
    align-items: center;
}
nav .logo{
    width: 15%;
}
nav .menu{
    width: 85%;
}
nav .menu ul{
    justify-content: flex-end;
    align-items: center;
}
nav .menu ul li a{
    font-size: 16px;
    color: #747474;
    font-weight: 600;
    padding: 27px 29px;
    display: inline-block;
    transition: .05s;
}
nav .menu ul li a:hover,
nav .menu ul li a.active{
    color: #ffc712;
    background-color: #fff9a6;
}
nav .menu ul li button{
    width: 30px;
    height: 30px;
    border: 1px solid #e9e9e9;
    background-color: none;
    margin-top: 10%;
    margin-right: 15px;
    border-radius: 50%;
    transition: .05s;
}
nav .menu ul li button:hover{
    color: #ffc712;
}
/*nav section css end*/

/*Banner section css start*/
#banner{
    background-image: url(../img/banner_img.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}
#banner .bg_content{
    width: 40%;
    padding-top: 140px;
    text-align: left;
}
#banner .bg_content h3{
    color: #0f2f44;
    font-size: 50px;
    font-weight: 300;
}
#banner .bg_content h1{
    font-size: 80px;
    margin-top: -25px;
    color: #0f2f44;
    text-transform: uppercase;
}
#banner .bg_content .h3_style{
    font-size: 32px;
    color: #8484bf;
    letter-spacing: 15px;
    padding-bottom: 10px;
    margin-top: -10px;   
}
#banner .bg_content p{
    font-size: 14px;
    color: #444444;
}
#banner .row .bg_explore a{
    background-color: #8484bf;
    color: #fefefe;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 18px 20px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 10%;
    transition: .07s;
}
#banner .row .bg_explore a:hover{
    background-color: #4d4db2;
}

#banner .bg_play button{
    background: none;
    border: none;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    transition: .5s;
}
#banner .bg_play button:hover{
    background-color: darkgray;
}
/*banner section css end*/

/*about section css start*/
#about .ab_section_info{
    width: 50%;
    margin-top: 100px;
}
#about .ab_section_img{
    width: 50%;
    margin-top: 100px;
}
#about .ab_section_info h6{
    color: #0f2f44;
    font-size: 14px;
    font-weight: 300;
}
#about .ab_section_info h2{
    color: #0f2f44;
    font-size: 32px;

}
#about .ab_section_info p{
    color: #0f2f44;
    font-size: 16px;
    padding-top: 25px;
}
#about .ab_section_info ul li{
    color: #0f2f44;
    font-size: 16px;
    padding-top: 25px;
    padding-left: 20px;
}
#about .ab_section_info .know_more{
    color: #0f2f44;
    font-size: 20px;
    font-weight: 600;
    background-color: #ffc712;
    padding: 18px 18px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 10%;
    transition: .08s;
}
#about .ab_section_info .know_more:hover{
    background-color: rgb(59, 20, 106);
    color: white;
}

#about .ab_section_info .read_later{
    color: #0f2f44;
    font-size: 20px;
    font-weight: 600;
    background: #f5efef;
    padding: 18px 18px;
    display: inline-block;
    margin-left: 20px;
    border-radius: 10%;
}
#about .ab_section_info .read_later:hover{
    color: black;
    background-color: chartreuse;
}
/*about section css end*/

/*skill section css start*/
#skill .skill_info{
    text-align: right;
    padding-top: 40px;
    padding-bottom: 50px;
}
#skill .skill_bar_container{
    padding-top: 30px;
    padding-left: 20px;
    
}
#skill .skill_item .skill_item_info{
    width: 90%;
    justify-content: space-between;
}
#skill .skill_item .skill_item_track{
background-color: #dddddd;
border-radius: 10px;
}
#skill .skill_item .skill_item_info p{
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skill .skill_item .skill_item_track .skill_item_bar{
height: 10px;
border-radius: 0 10px 10px 0;
margin-left: auto;
}

#skill .skill_item .skill_item_track .skill_item_bar.Photoshop{
width: 90%;
background-color: #294795;
margin-left: auto;
}
#skill .skill_item .skill_item_track .skill_item_bar.illustrator{
width: 85%;
background-color: #5d3b15;
margin-left: auto;    
}
#skill .skill_item .skill_item_track .skill_item_bar.Dreamweaver{
width: 75%;
background-color: #33491f;
margin-left: auto;    
}
#skill .skill_item .skill_item_track .skill_item_bar.after_effects{
width: 75%;
background-color: #38285d;
margin-left: auto;    
}  

#skill .skill_item .skill_item_icon{
    width: 10%;
    padding-bottom: 20px;

}
#skill .skill_item .skill_item_icon img{
    height: 45px;
    width: 45px;
}

/*skill section csss end*/

/*services section css start*/
#services{
    background-color: #f5f5f5;
}
#services .services_info_up{
    text-align: center;
    padding-top: 58px;
    padding-bottom: 60px;
}
#services .services_info_up h6{
    color: #0f2f44;
    font-size: 14px;
    font-weight: 300;
}
#services .services_info_up h2{
    color: #0f2f44;
    font-size: 32px;
}

#services .services_item{
    align-items: center;
    background-color: #e9e9e9;
    border-radius: 12px;
    margin-right: 24px;
    width: calc(100% / 3.2);
    position: relative;
}

#services .services_item_icon{
    width: 100px;
    margin: auto;
    text-align: center;
 }
#services .services_item_info{
    width: calc(100% - 100px);
}
#services .services_item_info h3{
    color: #222222;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
}
#services .services_item_info p{
    font-size: 14px;
    color: #444444;
    padding-bottom: 30px;
}
#services .services_item .overlay{
    font-size: 20px;
    position: absolute;
    inset: 0;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    transform: scale3d(.6);

}
#services .services_item .overlay:hover{
    opacity: 1;
    background-color: #0f2f44;
    color: white;
    transform: scale3d(x,y,z);
    transform-origin: right-top;
}
#services .services_item .overlay .fa-long-arrow-right{
    position: absolute;
    font-size: 16px;
    font-weight: 700;
    display: block;
    left: 43%;
    bottom: -25px;
    padding: 18px 20px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    z-index: 99;

}
#services .services_item .overlay.overlay:hover .fa-long-arrow-right{
    opacity: 1;
    visibility: visible;
    color: #222222;
    background-color: yellow;
    cursor: pointer;
}
